h1 {color: blue;text-align: center; }
h2,h3,h4 {color:black; text-align: center;}
.parrafo p { text-align: justify center 150% ;}
.parrafo img { width:110% ; }
.parrafo { width: 60% ; 
            margin:auto;}

.piepagina p {text-align: center; }         
.piepagina img {width: 110%; }
.piepagina { width: 60%;
            margin: auto;}

         








